{% extends 'base.html' %} {% block content %}
<style>
  .panel-body {
    padding: 30px;
  }
</style>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center heading-section" style="margin-bottom: 1em;">
        <h3>Mau kolaborasi dengan LindungiHutan?</h3>
        <p>Isi formulir berikut agar kami bisa menghubungi Anda</p>
      </div>
    </div>

    <div class="counter-card panel-body" style="margin-bottom: 6rem;">
      <div class="row" id="counter-wrapper">
        <div class="container">
          <div class="row">
            {% for message in messages %} {% if message %}
            <div class="alert alert-success" style="margin-right: 74px; margin-bottom: 20px;">{{ message }}</div>
            {% endif %} {% endfor %}
            <div class="col-md-12" style="width: 95%;">
              <form action="" method="post">
                {% csrf_token %} {{collab.as_p}}
                <!-- <button type="submit" class="btn btn-primary">Tambah</button> -->
                <input type="submit" value="Tambah" class="btn btn-primary" />
                <a href="/collaboratree" class="btn btn-danger" style="background-color: rgb(144, 0, 0)">Kembali</a>
              </form>
              <br /><br /><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
